* {
  box-sizing: border-box;
}

body {
	background-color: rgb(114, 110, 110);
	background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family:Verdana ;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} 


/** HEADER **/
#header-nav {
  background-color: #4b6596;
  border-radius: 0;
  border: 0;
  box-shadow: 0px 2px 5px #27272780;
  -webkit-box-shadow: 0px 2px 5px #27272780;
  -moz-box-shadow: 0px 2px 5px #27272780;
  position: relative;
  z-index: 999999;
 
  
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
 
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 1px 1px 1px rgb(70, 69, 69);
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.4em;
  margin-top: 10px;
 
}

#nav-list a:hover {
  background: #1a1a66;
  color: rgb(196, 195, 195);
}

#nav-list a i {
  font-size: 1.5em;
  padding-bottom: 5px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid#fff;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */







/********** HOME PAGE **********/

/***div class info ***/
.diskinfo {
  background-color: white;
  display: grid;
 
}

.diskinfo p.hd {
  margin-top: 5%;
  color: #eeecec;
  padding: 15px;
  width: 96%;
  font-size: 1.9em;
  text-shadow: 1px 1px #4d6798;
  background-color:#4d6798;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 0%;
}

#diskimg {
  width: 30%;
  margin-right: 3%;
  float: left;
  padding: 0 30px 30px 0;
  background-color: #4d6798;
}

#diskimg2 {
  width: 40%;
  margin-left: 2%;
  float: right;
  padding: 0 0 30px 30px;
  background-color:  #4d6798;
}

#intro, #terms, #hd2, #why{
  font-size: 1.5em;
  text-align: justify;
  color: rgb(31, 30, 30);
}

#intro, #terms, #why{
  background-color: #4b65964b;
}

#intro {
  margin-right: 2%;
  margin-left: 2%;
  background-color: #4b65964b;
  padding: 2%;
  font-weight: normal;
}

#terms {
  font-size: 20px;
 
  padding: 5%;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

#bold {
  font-size: 21px;
}

#why {
  padding: 3%;
  margin-left: 2%;
  margin-right: 2%;
}

.cont {
  color: #546C85;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #4b65964b;
  padding: 2%;
  
 
}

#algo:hover{
  text-decoration: none;
}

#algo:hover .heady{
  text-decoration: none;
  transform: scale(1.1);
  color: rgb(196, 195, 195);
}

#algo:hover hr{
  transform: scaleX(1.3);
  background-color: rgb(196, 195, 195);
}

.cont h2 {
  text-align: center;
  color: #fff;
  font-size: 25px;
}

.cont div {
  padding: 25px;
  background-color: #4d6798;
  text-align: justify;
  font-size: 18px;
  color: #fff;
  
}

/**** END OF HOME PAGE ****/










/**** SIMULATE PAGE ****/

.main {
  position: relative;
}

.container1 {
  position: absolute;
  background-color: white;
  top:20px;
  
}

.container2 {
  position: absolute;
  top: 400px;
  width: 90%;
  left: 50px;
  
}

.container3 {
  position: absolute;
  top: 1100px;
  margin-bottom: 40px;
  width: 90%;
  left: 50px;
}

.left {
  margin-left: 10%;
  float: left;
  padding: 2%;
  width: 80%;
  background-color:#4b65964b;
  border-radius: 0;
  box-shadow: 2px 2px 2px 2px  rgb(100, 103, 139);

  
  
}

.row2 {
  display: inline-flex;
  padding: 30px;
  padding-bottom: 90px ;
}

label {
  font-size: 16px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-style: inset;
  
}

#second {
  margin-left: 100px;
  float: left;
}

button {
  display: inline;
  margin: 70px;
  color: rgb(12, 12, 39);
}

#plot-button {
  background-color:   #3f507c;
  margin-left: 30%;
  font-size: 17px;
  color: white;

}

#animate-button {
  background-color:  #3f507c;
  font-size: 17px;
  margin-left: 5%;
  color: white;
}

#cmpr-button{
  background-color:  #3f507c;
  font-size: 17px;
  margin-left: 5%;
  color: white;

}

#canvas {
  text-align: center;
  margin-left: 190px;
  margin-top: 0px;
  padding-top: 0px;
  visibility: hidden;
}

.right {
  float: left;
  text-align: center;
  padding-top: 30px;
}

#am_alg_name, #am_alg_seek, #cl-seek {
  margin-left: 30px;
  font-size: 15px;
  text-align: center;
  text-emphasis: bold;
  color: #004080;
}

#graph_area {
  visibility: hidden;
  margin-top: 20px;
  box-shadow: 2px 2px 2px 2px  rgb(100, 103, 139);
  width: 90%;
  margin-left: 5%;
}
#cmpr_area {
  visibility: hidden;
  margin-top: 20px;
  box-shadow: 2px 2px 2px 2px  rgb(100, 103, 139);
  width: 90%;
  margin-left: 5%;
}

#plt_alg_name {
  margin-left: 30px;
  font-size: 30px;
  text-align: center;
  text-emphasis: bold;
  color: #004080;
}

#cmpr-head {
  margin-left: 30px;
  font-size: 30px;
  text-align: center;
  text-emphasis: bold;
  color: #004080;
}


#plt_alg_seek {
  text-align: center;
  font-size: 15px;
  margin: 10px;
}

#cal-seek {
  text-align: center;
  font-size: 15px;
  margin: 10px;
}
















/* MEDIA QUERIES */

/********** Large devices only **********/
@media (min-width: 1250px) {

  /*Home Page*/
  .cont {
    grid-template-columns: repeat(3, 1fr);
  }

  .transform {
    -webkit-transition: all 2s ease;  
    -moz-transition: all 2s ease;  
    -o-transition: all 2s ease;  
    -ms-transition: all 2s ease;  
    transition: all 2s ease;
  }
}

@media (max-width: 1450px){
  #second{
    margin-left: 50px;
  }

}

@media (max-width: 1300px){
  #second{
    margin-left: 30px;
  }

}

@media (min-width: 1250px) and (max-width: 1500px) {

  .container2 {
    position: absolute;
    top: 600px;
    width: 80%;
  }

  #graph_area {
    width: 80%;
    margin-left: 13%;
  }
  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1249px) {

  /* Home Page */
  #intro, #hd2, #why {
    font-size: 20px;
  }

  #terms {
    font-size: 18px;
  }

  #bold {
    font-size: 19px;
  }

  .cont {
    grid-template-columns: repeat(3, 1fr);
  }

  .cont div {
    font-size: 20px ;
  }

  /*Simulate Page */
  .left {
    width: 80%;
    padding: 30px;
    margin-left: 10%;
  }

  #second {
    margin-left: 90px;
  }

  #plot-button {
    margin-left: 40%;
  }

  #am_alg_name, #am_alg_seek {
    margin-left: 150px;
  }

  .container2 {
    position: absolute;
    top: 600px;
    width: 90%;
    left: 50px;
  }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  /* Home Page */
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 4.5vw; 
  }

  .diskinfo p.hd {
    font-size: 2.5em;
  }

  #diskimg {
    height: 25%;
    width: 35%;
  }

  #diskimg2 {
    height: 35%;
    width: 45%;
  }

  #intro, #hd2, #why {
    font-size: 18px;
  }

  #terms {
    font-size: 16px;
    margin-left: 25px;
  }

  #why {
    margin-left: 25px;
  }

  #bold {
    font-size: 18px;
  }

  .cont {
    grid-template-columns: repeat(2, 1fr)
  }

  .cont h2 {
    font-size: 25px;
  }

  .cont div {
    font-size: 18px;
  }


  /* Simulate Page */
  .left {
    width: 80%;
    margin-top: 20px;
    padding: 25px;
    padding-left: 50px;
    margin-left: 10%;
  }

  .right {
    width: 100%;
    padding-left: 0;
  }

  #canvas {
    margin-left: 25px;
  }

  #second {
    margin-left: 150px;
  }

  #plot-button {
    margin-left: 150px ;
  }

  .container2 {
    position: absolute;
    top: 800px;
    width: 100%;
    left: 1%;
  }

  #graph_area {
    margin-top: 20px;
  }

  
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 4.7vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a i { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /*Home Page*/

  .diskinfo p.hd {
    font-size: 2em;
    margin-top: 3%;
    width: 90%;
    margin-left: 5%;
  }

  #intro, #terms, #why {
    width: 90%;
    margin-left: 5%;
  }

  #diskimg {
    height: 35% ;
    width: 45%;
  }

  #diskimg2 {
    height: 45% ;
    width: 55%;
  }

  #intro, #hd2, #why {
    font-size: 15px;
  }

  #terms {
    font-size: 13px;
  }

  #bold {
    font-size: 15px;
  }

  .cont {
    grid-template-columns: auto;
    width: 90%;
    margin-left: 5%;
    margin-top: 0px;
  }
  
  .cont h2 {
    font-size: 20px;
  }

  .cont div {
    margin: 20px;
    padding: 20px;
    font-size: 15px;
  }

  /*Simulate Page */

  .left {
    width: 80%;
    margin-top: 25px;
    margin-left: 10%;
    padding-left: 60px;
  }

  #second {
    margin-left: 160px;
  }

  #plot-button {
    margin-left: 120px;
  }

  #animate-button {
    margin-left: 50px;
  }

  .right {
    padding: 0;
    width: 100%;
  }

  #canvas {
    margin-left: 35px;
    width: 80%;
  }

  #am_alg_name {
    margin-top: 30px;
  }

  #plt_alg_name {
    margin-top: 10px;
  }

  .container2 {
    position: absolute;
    top: 600px;
    width: 100%;
    left: 1%;
  }

  .container3{
    position: absolute;
    top: 2000px;
    width: 100%;
    left: 1%;
  }

}
 

@media (max-width: 600px) {
  .left {
    width: 80%;
    margin: 15px;
    margin-left: 6%;
    padding: 0px;
  }

  .row2 {
    width: 100%;
    padding: 15%;
    padding-bottom: 2%;
  }

  #second {
    margin-left: 12%;
  }

  #plot-button {
    margin-left: 20%;
    margin-bottom: 10px;
  }

  #animate-button {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  #cmpr-button{
    margin-left: 30%;
    margin-bottom: 10px;
  }
}